/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #eb0808;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html{
  scroll-behavior: smooth;
}

body {
  background-image: url("assests/addiction-home.png");
  background-size: cover;
  background-color: #0d6efd;
  background-blend-mode: multiply;
  color: #ffffff;
  text-align: center;
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #0d47a1;
  z-index: 9999;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #0d47a1;

}
.navbar-text,
.navbar-brand,
.nav__link{
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.main {

}

.section {


}

.section:nth-child(1) {
  background-image: url("assests/addiction-home.png");
  background-size: cover;
  background-color: #0d6efd;
  background-blend-mode: multiply;
  padding-top: 120px;
  padding-bottom: 400px;
}
.section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e88e5;
  padding-top: 100px;
}
.section:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42a5f5;
  padding-top: 100px;
}

.heading{
  margin-bottom: 160px;
}

.subheading{
  margin-top: 40px;
  margin-bottom: 20px;
}
.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}